### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
#Lito Biala
#Data Analytics and Visualization cohort 3
#Homework 4

In [63]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csvpath)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [64]:
Players = len(purchase_data["SN"].unique())

totalplayers_df = pd.DataFrame([{"Total Players": Players}])
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
Players = len(purchase_data["SN"].unique())

totalplayers_df = pd.DataFrame([{"Total Players": Players}])
totalplayers_df

   Total Players
0            576

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
drop_dupes = purchase_data.drop_duplicates(["SN"], keep="last")

g_demograph = drop_dupes["Gender"].value_counts().reset_index()
g_demograph

g_demograph["Percentage of Players"] = g_demograph["Gender"]/Players * 100

g_demograph.rename(columns = {"index": "Gender", "Gender": "Number of Players"}, inplace= True)
g_demograph.set_index(["Gender"], inplace = True)

g_demograph

                       Number of Players  Percentage of Players
Gender
Male                                 484              84.027778
Female                                81              14.062500
Other / Non-Disclosed                 11               1.909722

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
purchase_count = pd.DataFrame(purchase_data.groupby("Gender")["Gender"].count())

total_gen_purchase = pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum())

purchase_analysis = pd.merge(purchase_count, total_gen_purchase, right_index = True, left_index = True)

purchase_analysis.rename(columns = {"Gender": "Purchase Count", "Price": "Total Purchase Value"}, inplace = True)

purchase_analysis["Average Purchase Price"] = purchase_analysis["Total Purchase Value"]/purchase_analysis["Purchase Count"]

purchase_analysis = purchase_analysis.merge(g_demograph, left_index = True, right_index = True)

purchase_analysis["Avg Total Purchase per Person"] = purchase_analysis["Total Purchase Value"]/purchase_analysis["Number of Players"]

del purchase_analysis["Percentage of Players"]
del purchase_analysis["Number of Players"]

purchase_analysis

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,361.94,3.203009,4.468395
Male,652,1967.64,3.017853,4.065372
Other / Non-Disclosed,15,50.19,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [90]:
bin_age = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 99999999999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

age_demo = purchase_data
age_demo["Age Summary"] = pd.cut(age_demo["Age"], bin_age, labels= age_group)

age_demo = age_demo.groupby("Age Summary")
age_demo.count()

Age_summary = pd.DataFrame(age_demo.count())
Age_summary

Age_summary["Purchase ID"] = (Age_summary["Purchase ID"]/ Players) * 100
Age_summary

Reduced_summary = Age_summary[["Purchase ID", "SN"]]
Reduced_summary

Summary = Reduced_summary.rename(columns={"Purchase ID": "Percentage of Players", "SN": "Total Count"})
Summary

             Percentage of Players  Total Count
Age Summary
<10                       3.993056           23
10-14                     4.861111           28
15-19                    23.611111          136
20-24                    63.368056          365
25-29                    17.534722          101
30-34                    12.673611           73
35-39                     7.118056           41
>40                       2.256944           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
age_analysis_df = pd.DataFrame(age_demo["Purchase ID"].count())
age_analysis_df

total_purchase_value = age_demo["Price"].sum()
total_purchase_value

avg_purchase_value = total_purchase_value.map("${:,.2f}".format)
avg_purchase_value

avg_purchase_price= age_demo["Price"].mean()
avg_purchase_price

avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
avg_purchase_price

avg_total = total_purchase_value/age_demo["Purchase ID"].count()
avg_total

avg_age_total = avg_total.map("${:,.2f}".format)
avg_age_total

Summary_purchase_data = avg_age_total.rename(columns={"Purchase ID": "Purchase Count"})
Summary_purchase_data

Age Summary
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
>40      $2.94
dtype: object

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80