### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [178]:
#Lito Biala
#Data Analytics and Visualization cohort 3
#Homework 4

In [179]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csvpath)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [180]:
Players = len(purchase_data["SN"].unique())

totalplayers_df = pd.DataFrame([{"Total Players": Players}])
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [181]:
items = purchase_data["Item ID"].value_counts()
items

uniques = pd.DataFrame(purchase_data["Item ID"].unique())
len(uniques)


drop_dupes_i = purchase_data.drop_duplicates(["Item ID"], keep = "last")
drop_dupes_i

total_uniques = len(drop_dupes_i)

total_purchases = purchase_data["Price"].count()
total_revenue = round(purchase_data["Price"].sum(),2)

average_p = round(total_revenue/total_purchases, 2)

purchases = pd.DataFrame([{ "Number of Unique Items": total_uniques,
                            "Average Price": average_p,
                            "Number of Purchases": total_purchases,
                            "Total Revenue": total_revenue}])

purchases = purchases[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

purchases

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [182]:
drop_dupes_g = purchase_data.drop_duplicates(["SN"], keep="last")

g_demograph = drop_dupes_g["Gender"].value_counts().reset_index()
g_demograph

g_demograph["Percentage of Players"] = g_demograph["Gender"]/Players * 100

g_demograph.rename(columns = {"index": "Gender", "Gender": "Number of Players"}, inplace= True)
g_demograph.set_index(["Gender"], inplace = True)

g_demograph

                       Number of Players  Percentage of Players
Gender
Male                                 484              84.027778
Female                                81              14.062500
Other / Non-Disclosed                 11               1.909722

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
purchase_count = pd.DataFrame(purchase_data.groupby("Gender")["Gender"].count())

total_gen_purchase = pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum())

purchase_analysis = pd.merge(purchase_count, total_gen_purchase, right_index = True, left_index = True)

purchase_analysis.rename(columns = {"Gender": "Purchase Count", "Price": "Total Purchase Value"}, inplace = True)

purchase_analysis["Average Purchase Price"] = purchase_analysis["Total Purchase Value"]/purchase_analysis["Purchase Count"]

purchase_analysis = purchase_analysis.merge(g_demograph, left_index = True, right_index = True)

purchase_analysis["Avg Total Purchase per Person"] = purchase_analysis["Total Purchase Value"]/purchase_analysis["Number of Players"]

del purchase_analysis["Percentage of Players"]
del purchase_analysis["Number of Players"]

purchase_analysis

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,361.94,3.203009,4.468395
Male,652,1967.64,3.017853,4.065372
Other / Non-Disclosed,15,50.19,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [184]:
bin_age = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 99999999999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

age_demo = purchase_data
age_demo["Age Summary"] = pd.cut(age_demo["Age"], bin_age, labels= age_group)

ages = purchase_data.groupby("Age Summary").SN.nunique().reset_index(name="Total Count")

percentage = round((ages["Total Count"] /Players)*100,2)
ages["Percentage of Players"] = percentage
ages

  Age Summary  Total Count  Percentage of Players
0         <10           17                   2.95
1       10-14           22                   3.82
2       15-19          107                  18.58
3       20-24          258                  44.79
4       25-29           77                  13.37
5       30-34           52                   9.03
6       35-39           31                   5.38
7         >40           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [188]:
purchases_byage = purchase_data.groupby(["Age Summary"])
price_byage = purchases_byage["Price"].sum()
purchase_byage = pd.DataFrame(price_byage)
purchase_byage = purchase_byage.rename(columns={"Price":"Total Purchase Value"})

count_byage = purchases_byage["Age Summary"].count()
purchase_byage["Purchase Count"] = pd.DataFrame(count_byage)

count_byage     = purchases_byage["SN"].nunique()
purchase_byage["Total Count"]  = pd.DataFrame(count_byage)

purchase_byage["Average Purchase Price"]=round(purchase_byage["Total Purchase Value"]/purchase_byage["Purchase Count"] ,2).sort_values(ascending=True)
purchase_byage["Avg Total Purchase per Person"]=round(purchase_byage["Total Purchase Value"]/purchase_byage["Total Count"],2).sort_values(ascending=True)

purchase_byage=purchase_byage[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]

purchase_byage

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
>40,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [191]:
purchases_byspender = purchase_data.groupby(["SN"])

price_byspender     = purchases_byspender["Price"].sum().sort_values(ascending=False)

purchase_byspender  = pd.DataFrame(price_byspender)

purchase_byspender  = purchase_byspender.rename(columns={"Price":"Total Purchase Value"})

purchase_byspender.sort_values(["Total Purchase Value"], ascending=False)

spender_count=purchase_data.groupby("SN").count()

spender_Detail  = pd.DataFrame(spender_count)

purchase_byspender["Purchase Count"] = spender_Detail["Purchase ID"]

purchase_byspender["Average Purchase Price"]= round((purchase_byspender["Total Purchase Value"]/purchase_byspender["Purchase Count"]),2)

purchase_byspender=purchase_byspender[["Purchase Count","Average Purchase Price","Total Purchase Value"]]
purchase_byspender.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [195]:
purchases_byitem = purchase_data.groupby(["Item ID","Item Name"])

price_byitem     = purchases_byitem["Price"].sum().sort_values(ascending=False)

purchases_byitem  = pd.DataFrame(price_byitem)

purchases_byitem  = purchases_byitem.rename(columns={"Price":"Total Purchase Value"})

Item_count=purchase_data.groupby(["Item ID","Item Name"])

Item_Detail=Item_count.count()

purchases_byitem["Purchase Count"] = Item_Detail["Purchase ID"].astype('int')

avg_item_price  =  purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]

purchases_byitem["Item Price"] = pd.DataFrame(avg_item_price)

purchases_byitem = purchases_byitem[["Purchase Count","Item Price","Total Purchase Value"]]

purchases_byitem.sort_values(["Purchase Count"], ascending=False)

purchases_byitem

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
136,Ghastly Adamantite Protector,6,3.58,21.48
65,Conqueror Adamantite Mace,5,4.24,21.20
101,Final Critic,5,4.19,20.95
102,Avenger,6,3.44,20.64
133,Faith's Scimitar,5,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
111,Misery's End,4,4.89,19.56
165,Bone Crushing Silver Skewer,4,4.86,19.44
75,Brutality Ivory Warmace,8,2.42,19.36
52,Hatred,4,4.84,19.36
...,...,...,...,...
124,Venom Claymore,4,1.29,5.16
0,Splinter,4,1.28,5.12
155,War-Forged Gold Deflector,5,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
51,Endbringer,1,4.66,4.66
134,Undead Crusader,1,4.50,4.50
30,Stormcaller,2,2.21,4.42
135,Warped Diamond Crusader,3,1.40,4.20
91,Celeste,1,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
70,Hope's End,4,1.03,4.12
115,Spectral Diamond Doomblade,2,2.04,4.08
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
180,Stormcaller,1,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
183,Dragon's Greatsword,3,1.09,3.27
31,Trickster,2,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
90,Betrayer,1,2.94,2.94
33,Curved Axe,2,1.16,2.32
26,Unholy Wand,2,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [196]:
purchases_byitem = purchase_data.groupby(["Item ID","Item Name"])

price_byitem     = purchases_byitem["Price"].sum().sort_values(ascending=False)

purchases_byitem  = pd.DataFrame(price_byitem)

purchases_byitem  = purchases_byitem.rename(columns={"Price":"Total Purchase Value"})

Item_count=purchase_data.groupby(["Item ID","Item Name"])

Item_Detail=Item_count.count()

purchases_byitem["Purchase Count"] = Item_Detail["Purchase ID"].astype('int')

avg_item_price  =  purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]

purchases_byitem["Item Price"] = pd.DataFrame(avg_item_price)

purchases_byitem = purchases_byitem[["Purchase Count","Item Price","Total Purchase Value"]]

purchases_byitem.sort_values(["Total Purchase Value"], ascending=False)

purchases_byitem.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80